.notFoundPage,
.ingredientPage,
.authenticationPage {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.container {
    text-align: center;
}

.link {
    color: #4c4cff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.profileWrapper {
    margin-top: 120px;
    display: flex;
}

.leftSidebar {
    width: 320px;
}

.profileContent {
    min-width: 480px;
}

.error {
    color: #e52b1a;
}
