.authenticationPage {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.container {
    text-align: center;
}

.link {
    color: #4c4cff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
