.container {
    width: 1244px;
    margin: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrapper {
    width: 100%;
}

.justifyContentBetween {
    justify-content: space-between;
}

.alignItemsCenter {
    align-items: center;
}

.flexBetweenAndCenter {
    composes: row;
    composes: justifyContentBetween;
    composes: alignItemsCenter;
}

.column {
    display: flex;
    align-items: baseline;
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
}

.column4 {
    composes: column;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.column6 {
    composes: column;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.darkGrayColor {
    color: #8585ad;
}

.blackGrayBG {
    background: #1c1c21;
}
